// 后台框架尺寸
// 菜单宽度
$navMenu: 230px;
// 主颜色
$mainColor :#f56c6c;

$layoutHeader: 75px;

//封装过度效果
@mixin webkit($type, $value){
    -webkit-#{$type} : $value;
    -moz-#{$type}: $value;
    -o-#{$type}: $value;
    -ms-#{$type}: $value;
    #{$type}: $value;
}

@mixin labelDom($align, $width, $line-hight: "normal"){
    label {
        float: left;
        line-height: $line-hight + px;
        width: $width + px;
        text-align: $align;
    }
    .warp-content {
        margin-left: $width + px;
    }
}